<%= form_for(company,
             url: create_company_path,
             method: :post,
             html: { class: 'simple-form' } ) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %>:</h2>

      <ul>
      <% company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :type %>
  <%= hidden_field_tag :type, type %>

  <%= yield f %>

  <div class="actions">
    <%= f.submit class: 'submit' %>
  </div>
<% end %>
