<h1>Select brokers</h1>

<%= form_tag(submit_brokers_path(:json),
             method: :post,
             remote: true,
             id: 'brokers',
             data: {'success-url' => new_company_url}
  ) do %>
  <p class="message">Please select at least one broker and maximum three.</p>
  <ul class="brokers-list">
    <% @brokers.each do |b| %>
      <li>
        <%= image_tag 'brokers/' + b.image_path %>
        <div class="name"><%= b.name %></div>
        <%= check_box_tag 'brokers[]', b.id, false, class: 'hidden' %>
      </li>
    <% end %>
  </ul>
  <div class="clearfix"></div>
  <%= submit_tag 'Next', class: 'btn-next' %>
<% end %>
