<%= render layout: 'form', locals: { company: company, type: type } do |f| %>
  <div class="field">
    <%= f.label :name, 'Full name *' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field" >
    <%= f.label :trustees, 'Names of all trustees' %><br>
    <%= render 'related_people',
               f: f,
               max_items: Trust::MAX_TRUSTEES,
               company: company
               %>
  <div>
<% end %>
